header {
    background: purple;
    padding: 30px;
    text-align: center;
}

.sidebar {
    background: steelblue;
    padding: 20px 10px;
    text-align: center;
}

.quiz-title {
    background: lightblue;
    padding: 30px;
    border-bottom: 1px solid #aaa;
}

.quiz-blurb {
    background: lightgray;
    padding: 30px;
    border-bottom: 2px solid #888;
}
